* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

* {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
}
<link rel="preconnect" href="https://fonts.gstatic.com">


.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  width: 100%;
  margin: 0 auto;
}


footer {
  display: flex;
  background-color: #222224;
}
header{
  background: #222222;
  position: relative;
}

.header_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77%;
  margin: 0 auto;
  height: auto;
  height: 75px;
  align-items: center;
}
.header_content_left{
  width: 111px;
  display: flex;
  justify-content: space-between;

}
.header_content_right{
  display: flex;
  justify-content: space-between;
  width: 159px;
}
.header_content_left a:last-child{
  margin-top: 7px;
}
.header_content_right a:first-child{
  margin-top: 5px
}
.circle{
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #F16D7F;
  position: absolute;
  top: 20px;
  left: 87.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle p{
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;

}
.title{
  max-height: 764px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 65px;
  justify-content:space-between;


}
.title_img{
  background-image: url(./img/firstman.png);
  background-repeat: no-repeat;
  height: 764px;
  width: 50%;
  background-position: center;
  background-color: rgba(113, 103, 105, 0.08);


}
.title_header{
display:flex;
justify-content: flex-start;
align-items: center;
width: 50%;
background-color: #F1E4E6;
padding-left: 64px;
}
.title_header h1{
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left:16px;
  min-height: 103px;
}
.title_header_bold{
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.title_header_pink{
  color: #F17485;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.section_images{
  min-height: 470px;
  width: 77%;
  margin: 0 auto;
  display: flex;
  flex-direction:column;
}
.section_images_three{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

}
.section_images_three_item{
  width: 30%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_images_three_item:first-child{
  background-image: url(./img/forWomenr.png);


  }
.section_images_three_item:last-child{
    background-image: url(./img/child.png);
  }
.section_images_three_item:nth-child(2){
    background-image: url(./img/man.png);
  }

.section_images_a{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.firstof4{
  font-weight: 700;
  color: #F16D7F;
  text-align: center;
  line-height: 10px;
  font-size: 24px;
}
.section_images_one{
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./img/long1.png);
}
.fetured_items{
  margin-top: 96px;
  text-align: center;
  margin-bottom: 18px;
}
.fetured_items h2{
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  font-weight: 400;
}
.fetured_items p{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

/* Продолжаем верстать */
.section_cards{
  width: 77%;

  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section_cards_item{
  width: 31.5%;;
  background-color: #F8F8F8;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.box_img{  width: 100%;
  min-height: 420px;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;

}

.section_cards_item_img1{

  background-image: url(./img/oneofsix.png);
}
.section_cards_item_img2{
  background-image: url(./img/toofsix.png);
}
.section_cards_item_img3{
  background-image: url(./img/threeofsix.png);
}
.section_cards_item_img4{
  background-image: url(./img/fourofsix.png);
}
.section_cards_item_img5{
  background-image: url(./img/fiveofsix.png);
}
.section_cards_item_img6{
  background-image: url(./img/sixofsix.png);
}

ul li{
  list-style-type:none
}


/* hover effect Для карточек */
.section_cards_item_img_text{
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.tobuy{
  border: 1px solid white;
  width: 138px;
  height: 43px;
  background-image: url(./img/telega.png);
  background-position: center left 10px;;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-left: 20px;
}
.box_img:hover .section_cards_item_img_text{
  background: rgba(58, 56, 56, 0.86);
  opacity: 1;
  width: 100%;
  min-height: 420px;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}


/* Меню */
.hover:hover ~ .menu{
  background-color: white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  right: 0;
  visibility: visible;
}
.menu{
  width: 14%;
  height: 764px;
  background-color: #F1E4E6;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 75px;
  visibility:hidden;
}
.menu_x{
  position: relative;
  margin-top: 16px;
}

.menu_content{
  width: 70%;
  margin-top: 37px;
  display: flex;
  flex-direction:row;
}
.title_menu{
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 24px;

}
.sex{
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  display:block;
  margin-bottom: 12px;
}
ul {

  padding-left: 20px;
}
ul li{
  margin-bottom: 11px;
}
ul li:last-child{
  margin-bottom: 20px;
}
ul li a{
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;

}

/* hover effect Для карточек */
.section_cards_item_text{
  margin-top: 25px;
  padding-left: 18px;
}
.section_cards_item_a{
  display: block;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}
.section_cards_item_p{
  display:block;
  width: 95%;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}
.section_cards_item_price{
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.first_button{
  margin-top: 48.5px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95.5px
}
.browse{
  border: 1px solid #FF6A6A;
  width: 211px;
  height: 47px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}
.quality{

  background-color: black;
}
.quality_content{
  width: 77%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  height: 341px;
}
.quality_content_item{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 30%;
}
.quality_images{
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 22px;
  width: 45px;
  min-height: 38px;
  margin-top: 103px;
}
.quality_content_img1{
  width: 45px;
  min-height: 32px;
  margin-top: 103px;
  background-image: url(./img/truck.png);
  margin-bottom: 28px;

}
.quality_content_img2{
  background-image: url(./img/diskount.png);
}
.quality_content_img3{
  background-image: url(./img/crown.png);
}
.quality_content_text_title{
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}
.quality_content_text_text{
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  opacity: 0.8;
}
.subscribe{
  min-height: 448px;
  background-image: url(./img/subback1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.subscribe_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 77%;
  margin: 0 auto;
  height: 100%;
  align-items: center;

}
.subscribe_content_left{
  display: flex;
  flex-direction: column;
  width: 35%;
  align-items: center;
}
.subscribe_img{
  margin-top: 88px;
  margin-bottom: 30px;
  width: 96px;
  height: 96px;
  background-image: url(./img/face.png);

}
.subscribe_content_left_p{
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscribe_content_right{
  display: flex;
  flex-direction: column;
  display: flex;
  margin-top: 150px;
}
.subscribe_content_right_title{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.subscribe_content_right_p{
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.inputButton{
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.inputMail{
  background: #E1E1E1;
  height: 49px;
  width: 72%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}
.inputInput{
  width: 28%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  text-align:center;
  color: #FFFFFF;
}
.footer_content{
  width: 76%;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  min-height: 80px;
  align-items: center;
}
.footer_text{
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer_content_right{
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.media{
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.media:hover{
background-color: #F16D7F;
fill:black;
}



/* Адаптив */
@media (max-width:1025px) {
  .header_content{
    width: 95%;
  }
  .circle{
    left: 96%;
  }
  .title{
    margin-bottom: 19px;
  }
  .title_img{
    height: 369px;
    background-size: contain;
  }
  .menu{
    display: none;
  }
  .title_header_bold{
    font-size: 44px;

  }
  .title_header h1, .title_header_pink{
    font-size: 24px;
    line-height: 44px;
  }
  .title_header{
    padding-left: 0px;
    justify-content: center;
  }
  .four_images{
    width: 95%;
  }
  .four_images_three_item{
    width: 31%;
  }
  .four_images_three{
    margin-bottom: 20px;
  }
  .fetured_items{
    margin-top: 154px;
    margin-bottom: 54px;
  }
  .section_cards{
    width: 95%;
  }
  .section_cards_item{
    width: 48.5%;
    margin-top: 17px;
  }
  .section_cards_item:first-child{
    margin-top: 0px;
  }
  .section_cards_item:nth-child(2){
    margin-top: 0px;
  }
  .first_button{
    margin-bottom: 65px;
  }
  .quality_content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quality_content{
    min-height: 610px;

  }
  .quality_images, .quality_content_img1{
    margin-top: 48px;
  }
  .quality_images{
    margin-top: 28px;
  }
.quality_content_item:last-child{
    margin-bottom: 64px;
  }
  .quality_content_text_text{
    width: 360px;
  }
  .quality_content_text_title{
    text-align: center;
    width: 175px;
  }

  .subscribe{
    background-position:  0px 0px;
    background-color: (244, 244, 244, 0.7);
  }
  .subscribe_content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe_img{
    margin-top: 53px;
  }
  .subscribe_content_left_p{
    width: 359px;
  }
  .subscribe_content_right{
      margin-top: 48px;
  }
  .inputButton{
    margin-top: 27px;
    margin-bottom: 140px;
  }
  .inputMail {
    background: #8f8f8f;

  }
  input.inputMail::placeholder{
    color:#E1E1E1;
  }

  .footer_content{
    width: 95%;
  }

}
@media (max-width:668px) {
  .profile,.cart,.circle{
    display: none;
  }
  .header_content_right{
    display: flex;
    justify-content: flex-end;
  }
  .title_img{
    display: none;
  }
  .title_header{
    width: 100%;
    height: 363px;

  }
  .title_header_bold{
    font-size: 38px;
    line-height: 45px;
  }
  .title_header h1{
    font-size: 20px;
    line-height: 24px;
    border: black;
  }
.pink_rectangel{
  width: 12px;
  height: 80px;
  background-color: #F16D7F;
  position: relative;
  bottom: 10px;
}
.title{
  margin-bottom: 64px;
}
.section_images_three {
    display: flex;
    flex-direction:column;
}
.section_images_three_item:first-child{
  margin-top: 0px;
}
.section_images_three_item{
  width: 100%;
  margin-top: 32px;
}
.section_images_one{
  height: 111px;
}
.fetured_items {
    margin-top: 64px;
    margin-bottom: 64px;
}
.section_cards_item:first-child{
  margin-top: 0px;
}
.section_cards_item{
  width: 100%;
}
.first_button{
  margin-top: 41px;
  margin-bottom: 96px;
}
.quality_content_text_text{
  width: 310px;
}
.lasttext{
  margin-bottom: 81px;
}

.subscribe_content_left_p{
  width:343px;
}
.subscribe_content_right {
    margin-top: 59px;
    width: 100%;
}
.subscribe_content_right_title{
  font-size: 24px;
  line-height: 36px;
}
.subscribe_content_right_p{
  font-size: 14px;
  line-height: 21px;
}
.subscribe_content{
  width: 95%;
}
.footer_content{
  display: flex;
  flex-direction: column-reverse;
}
.footer_content_right{
  margin-top: 43px;
  margin-bottom: 50px;
}
}
.footer_text{
  margin-bottom: 9px;
}
/* --------Верстаю catalog.html------ */
.upper{
  text-transform: uppercase;
}
.filet_mobile{
  display: none;
}
.section_arrivals{
  background-color: #F8F3F4;
}
.section_arrivals_container{
  width: 77%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bread_crumbs{
  display: flex;
  flex-direction: row;
}
.new_arrivals{
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin: 60px 0px;
  text-transform: uppercase;
}
.bread_crumbs a{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform:uppercase;
}
.home, .men{
  color: #636363;
}
.arri{
  color:#F16D7F;
  font-weight: bold;
}
.slash{
  margin: 0px 4px;
  font-size: 16px;
}
.filter{

  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  width: 77%;
}
.filter_content{
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-top: 51px;
  margin-bottom: 65px;
  justify-content: space-between;
}
.main_filter{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: relative;
  width: 45.2%;
}
.main_filter::after{
  content: " ";
  background-image: url(./img/filter.svg);
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.optional_filter{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.optional_filter a{
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 28px;
}
.optional_filter a:last-child{
  margin-right: 0px;
}
.optional_filter a:last-child{
  margin-right: 0px;
}
.optional_filter a::after{
  content: " ";
  background-image: url(./img/galka.svg);
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.section_cards_item_img2_9{
  background-image: url(./img/twoofnine.png);
}
.section_cards_item_img5_9{
  background-image: url(./img/fiveofnine.png);
}
.section_cards_item_img6_9{
  background-image: url(./img/sixofnine.png);
}
.section_cards_item_img7_9{
  background-image: url(./img/sevenofnine.png);
}
.section_cards_item_img8_9{
  background-image: url(./img/eightofnine.png);
}
.section_cards_item_img9_9{
  background-image: url(./img/nineofnine.png);
}
.section_cards_item:first-child, .section_cards_item:nth-child(2), .section_cards_item:nth-child(3){
  margin-top: 0px;
}
.pages{
  margin-top: 49px;
  margin-bottom: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pages_content{
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  height: 43px;
  display: flex;
  align-items: center;
}
.pages_content a{
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}
.first {
  color: #EF5B70;
}
.num {
   margin-right: 20px;
}
.num1{
  color: #EF5B70;
  margin-right: 20px;
  text-decoration: underline;
}
.back, .forward{
  position: relative;
  top: 2px;
  margin: 0px 20px 0px 20px;
  text-decoration: none;

}
.num, .num6, .last{
  color: #E2E2E2;
  text-decoration: underline;
}

/* --------hover для .filter----------- */
.main_filter:hover ~.main_filter_options{
  display: block;
  background-color: #FFFFFF;
}
.main_filter_options{
  box-shadow: 1px 1px 10px black;
  position: absolute;
  width: 24.2%;
  height: 80%;
  display: none;
}
.main_filter_options_content{
  display: flex;
  flex-direction: column;
  /* width: 285px; */
}
.main_filter1{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  padding-top: 16px;
  padding-left: 16px;
}

.main_filter1::after{
  content: " ";
  background-image: url(./img/filter.svg);
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: center;
  color: #EF5B70;
}
.main_options{
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  font-weight: 400;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 17px;
  padding-bottom: 11px;
  margin-top: 26px;
  margin-left: 16px;
}
.options, .options1{
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 33px;
}
.options1{
  margin-top: 24px;
}
.options{
  margin-top: 11px;
}
.main_options:first-child{
  margin-top: 24px;
}

.size:hover ~.size_opportunity{
  display: block;

}
.size_opportunity{
  position:absolute;
  box-shadow: 1px 1px 10px black;
  width: 65px;
  background-color: white;
  display: none;
}
.size_opportunity input{
  margin-left: 10px;
  margin-top: 10px;
}
.size_opportunity input:last-child{
  margin-bottom: 12px;
}




@media (max-width:1025px){
  .section_arrivals_container{
    width: 95%;
  }
  .section_cards_item:nth-child(3){
    display: none;
  }
  .filter{
    width: 95%;
  }
  .filter_content{
    width: 100%;
    margin-top: 28px;
    margin-bottom: 43px;
  }
  .main_filter:hover ~.main_filter_options{
    display: none;
  }
}
@media (max-width:668px) {
  .section_arrivals_container{
    display:flex;
    flex-direction: column;
  }
  .new_arrivals{
    margin: 24px 0px 32px;
  }
  .bread_crumbs{
    margin-bottom: 46px;
  }
  .main_filter{
    display: none;
  }

  .optional_filter a{
    font-size: 12px;
    margin-right: 10px;

  }
    .optional_filter a:last-child{
      margin-right: 0px;
    }
  .filet_mobile{
    display: block;
    width: 30px;
    height: 25px;

  }
  .filter{
    height: 80px;
  }
  .filter_content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .pages{
    margin-top: 42px;
    margin-bottom: 64px;
  }
}
